@using Blog.App.Code
@using BlogExtensions.Resources

@{
    Page.Title = Index.PageNotExists;
    Layout = "~/themes/" + Blog.Theme + "/_Layout.cshtml";
    Response.StatusCode = 404;
}

<article class="content articleBody">
    <h1>@Index.PageNotExists</h1>

    <p>@Index.Sorry</p>

    <p>
        <a href="~/">@Index.GoToFront</a>
    </p>
</article>